<div class="container-fluid d-flex justify-content-between">
  <%= link_to 'Lists page', lists_path, class: "btn btn-link" %>
  <%= link_to 'Create list', new_list_path, class: "btn btn-link" %>
</div>